@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  src: local("SF Pro Display Bold"),
    url("https://github.com/dracula/subsonic/raw/main/sf-pro-display-regular.otf")
      format("woff2");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 300;
  src: local("SF Pro Display Light"),
    url("https://github.com/dracula/subsonic/raw/main/sf-pro-display-regular.otf")
      format("woff2");
}

body,
form,
label,
.songTitle,
table,
a,
input,
textarea,
select {
  font-family: "SF Pro Display", sans-serif;
  color: #cdd1dc;
}

body {
  font-size: 13px;
}

.songTitle,
.detail {
  font-size: 12px;
  color: #01e6f1;
}

#play,
#pause,
#buffer {
  font-size: 24px;
  color: #50fa7b;
}

input,
textarea,
select {
  font-size: 15px;
  padding: 3px 5px;
  border-radius: 18px;
  border: 1px solid #ffffff;
}

.fa-navicon::before,
.fa-reorder::before,
.fa-bars::before,
.fa-th-large::before {
  font-size: 150%;
}

.fa-navicon::before,
.fa-reorder::before,
.fa-bars::before {
  content: "\f0c9"; /* Correct content code for bars icon */
}

.fa-th-large::before {
  content: "\f009"; /* Correct content code for large square icon */
}

.header,
.header a,
.headerSelected,
.headerSelected a {
  padding: 6px 5px;
  line-height: 1.7em;
  font-weight: 600;
  font-size: 90%;
  white-space: nowrap;
  text-transform: uppercase;
  color: #fff;
}

h2,
h2 a {
  font-size: 16px;
}

/* Colors */
a:link,
a:active,
a:visited {
  color: #ff79c6;
}

.icon {
  color: #bd93f9;
  font-size: 120%;
}

.warning {
  color: #ff79c6;
}

/* Background colors */
html,
body,
.bgcolor1,
.mainframe,
.log,
#left,
#right,
body.rightframe,
body.playslistframe {
  background: #282a36;
}

table.music tr:nth-of-type(odd) {
  background: rgba(68, 71, 90, 0.5);
}

::-webkit-scrollbar-thumb {
  background: rgba(126, 135, 160, 0.4);
}

/* Player and Playlist */
#playQueue {
  border-top: 5px solid #50fa7b;
}

.playlistframe > div:nth-of-type(1) {
  width: calc(100% - 20px);
  margin: 0 -10px;
  padding: 0 10px;
}

#progress {
  background: rgba(0, 0, 0, 0.1);
  height: 12px;
}

#progress:after {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  height: 5px;
  width: 100%;
}

.ui-slider .ui-slider-handle {
  background: #50fa7b;
  border-radius: 6px;
  top: 50%;
  margin-top: -6px;
}

.fa-inverse {
  color: #ff79c6;
  font-weight: bold;
}
